.canvas {
    border: solid 1px;
}

.weekday {
    fill: #1b9e77;
}

.weekend {
    fill: #d95f02;
}

.weekday.line {
    fill: none;
    stroke-width: 3;
    stroke: #1b9e77;
}

.weekend.line {
    fill: none;
    stroke-width: 3;
    stroke: #d95f02;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    border: 1px;
    background-color: white;
    pointer-events: none;
    opacity: 0.9;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
}

#tooltip.hidden {
    display: none;
}

.annotation {
    background-color: none;
    font-family: sans-serif;
    font-size: 15px;
}

.annotation.blink {
    animation: blink 5s linear infinite;
}

@keyframes blink{
0%{opacity: 0;}
20%{opacity: .8;}
50%{opacity: 1;}
}

#finding {
    position: absolute;
    width: 250px;
    height: auto;
    border: none;
    background-color: white;
    pointer-events: none;
    opacity: 1;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
}

#finding p {
    background-color: none;
    font-family: sans-serif;
    font-size: 15px;
}

#finding.hidden {
    display: none;
}