.canvas {
    border: none;//solid 1px
}

.line {
    fill: none;
    stroke-width: 2;
}

.datapoint.weekday {
    fill: steelblue;
}

.datapoint.weekend {
    fill: red;
}

.line.weekday {
    stroke: steelblue;
}

.line.weekend {
    stroke: red;
}

.annotation {
    background-color: none;
    font-family: sans-serif;
    font-size: 15px;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    border: 1px;
    background-color: white;
    pointer-events: none;
    opacity: 0.9;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
}

#tooltip.hidden {
    display: none;
}